html{
    height: 100%; 
    width: 100%; 
    margin: 0;
    background-color: rgb(42, 42, 42);
    font-family: Arial, Helvetica, sans-serif;
}

body, .all, #App, #root, .all2{
    height: 100%; 
    width: 100%; 
    margin: 0;
}

#App2{
    height: 100%; 
    width: 100%; 
    margin: 0;
    position:absolute;
    top: 0;
    left: 0;
}

#tsparticles{
    position: -webkit-sticky;
    position: fixed;
    top: 0px;
    left: 0px;
    width: fit-content;
    height: fit-content;
    width: 100%;
    height: 100%;
  }